
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<h1>Excel Raporları</h1>
<br />
<div class="form-control">
<a href="/Report/StaticReport/" class="btn btn-outline-info">Static Rapor</a>
</div>
<br />
<div class="form-control">
<a href="/Report/ContactReport/" class="btn btn-outline-primary">Mesaj Rapor</a>
</div>
<br />
<div class="form-control">
<a href="/Report/AnnouncementReport/" class="btn btn-outline-info">Duyuru Rapor</a>

</div>