@model EntityLayer.Concreate.Announcement
@{
    ViewData["Title"] = "AddAnnouncement";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<h1>AddAnnouncement</h1>

<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add New Announcement</h4>
                  <form class="forms-sample" method="post">
                    <div class="form-group">
                      <label>Title</label>
                      <input type="text" class="form-control"  placeholder="Title" asp-for="Title">
                    </div>
                    <div class="form-group">
                      <label>Description</label>
                      <textarea cols="30" rows="5" asp-for="Description" class="form-control" placeholder="enter description"></textarea>
                    </div>

                   <br />
                    <button type="submit" class="btn btn-primary me-2">Add</button>
                </form>
                </div>
              </div>
            </div>
